{% comment %} <header>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'about' %}">About</a>
</header>

{% block content %}
{% endblock content %} {% endcomment %}
{% load static %}
<html>
  <head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home'%}">Django Blog</a></h1>
      <a href="{% url 'post_new' %}">+ New Blog Post</a>
    </header>
    <div>
      {% if user.is_authenticated %}
        <p>Hello {{user.username}}</p>
        <p><a href="{% url 'logout'%}">Log Out</a></p>
      {% else %}
        <p>Vui lòng đăng nhập.</p>
        <a href="{% url 'login'%}">Log In</a>
      {% endif  %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>